.card {
  position: relative;
  float: left;
  width: 29%;
  height: 0;
  margin: 2%;
  padding-bottom: 20%;
}

.card__container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);

  /* Prevents flicker */
  overflow-scrolling: touch;
}

/* IMPORTANT: Alternate states for when the card container is closed */
.card__container--closed {
  position: absolute;
  overflow: hidden;

  .card__header-image {
    cursor: pointer;
  }

  .card__section__content {
    margin-top: 0;
    padding: $padding__section-wrapper;
    pointer-events: none;
    background: transparent;
  }

  .card__caption-container {
    font-size: 1em;
    max-width: none;
    padding: 30px 10px;
    transform: translateY(-100%);
  }

  .card__title {
    color: hsla(0, 100%, 100%, 1.0);
  }
  .card__subtitle {
    color: $font-color__primary-text__white--dark-background;
  }

  .card__button-close {
    opacity: 0;
  }

  .meta {
    opacity: 0;
  }

}

.card__header-image {
  position: relative;
  left: 50%;
  height: 100%;
  max-height: $card__image-max-height__header;
  transform: translateX(-50%);
}

.card__section__header {
  padding: 0;
  height: 100%;
}

.card__section__content {
  padding: $padding__content;
  height: auto;
  position: relative;
  margin: 0 auto;
  color: $font-color__primary-text__black--light-background;
  background-color: $background-color__content--primary;
}

/*-------- Container sections of the main card content --------*/
.card__caption-container,
.card__text-container {
  margin: 0 auto;
  max-width: $card__max-width;
  color: $font-color__primary-text__black--light-background;
}

.card__caption-container {
  font-size: 2em;
  padding: 35px 30px 0;
}

.card__text-container {
  font-size: 1.25em;
  padding: 1.5625em 1.875em 6.25em;

  p:first-of-type {
    font-size: 1.5em;
    padding: 0 0 1em 0;
  }
}

/*------------------------------------------------------------*/

.card__button-close {
  font-size: 1.1em;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.25em;
  cursor: pointer;
  opacity: 1;
  transition: opacity $anim-duration__fade $easing__ease-out-cubic;
}

/*-------- Card metadata --------*/

.meta {
  font-size: 0.85em;
  display: flex;
  flex-direction: row;
  padding: 0 0 2.12em 0;
  align-items: center;
  opacity: 1;
  transition: opacity $anim-duration__fade $easing__ease-out-cubic;
}

.meta__avatar {
  border-radius: 50%;
  width: $card__image-width__avatar;
  height: $card__image-height__avatar;
  overflow: hidden;
}

.meta__author {
  font-weight: bold;
  padding: 0 0.95em;
}

.meta__date {
  margin: 0 0 0 auto;
}

/*-------- /Card metadata --------*/

.card__title,
.card__subtitle {
  line-height: 1;
  margin: 5px 0 0;
}

.card__title {
  font-size: 1.5em;
  color: $font-color__header-text__black--light-background;
}

.card__subtitle {
  color: $font-color__secondary-text__black--light-background;
  font-size: 0.95em;
}

@media only screen and (max-width: 980px) {
  .card {
    width: 46%;
    padding-bottom: 32.2%;
  }
  .card__section__header {
    max-height: 360px;
  }
  .card__section__content {
    margin-bottom: 0;
    padding-right: 1.25em;
    padding-left: 1.25em;
  }
}

@media only screen and (max-width: 580px) {
  .card {
    width: 96%;
    padding-bottom: 67.2%;
  }
}

@media only screen and (max-width: 400px) {
  .card__caption-container {
    font-size: 1.25em;
    padding: 2.15em 0 0 0;
  }
  .meta {
    padding: 0 0 1.55em 0;
  }
  .card__text-container {
    font-size: 0.9em;
    padding: 1.55em 0 6.5em 0;
  }
}






