@import '../../main';

$button-color__primary: hsla(200, 41%, 55%, 1);

.core-button {
    height: 40px;
    width: 100px;
    padding: $padding__wrapper;
    border: 1px solid $button-color__primary;
    background: $button-color__primary linear-gradient(
            hsla(0, 0%, 100%, .2),
            transparent
    );
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.5);
    color: hsla(0, 100%, 100%, 1);
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    line-height: 1.5em;

    &.cancel {
        background-color: #c00;
    }

    &.ok {
        background-color: #6b0;
    }
}


