<link rel="stylesheet" href="card-expansion.css">

<div class="main-view-container">

    <div class="content-container_grid">

        <div class="card">
            <div class="card__container">

                <section class="card__section__header">
                    <header>
                        <svg class="card__image">
                            <!-- SVG Image -->
                        </svg>
                    </header>
                </section>

                <section class="card__section__content">

                    <i class="card__button-close fa fa-times">X</i>

                    <div class="card__caption">
                        <h1 class="card__title">L'École de Elegance</h1>
                        <span class="card__subtitle">paraboles du maître</span>
                    </div>

                    <div class="card__info">
                        <img class="card__image__author" src="/img/authors/brian.jpeg">
                        <span class="card__date">09/30/1589</span>
                    </div>

                    <div class="card__text__intro"></div>

                    <div class="card__text__main">
                        Doming placerat vulputate praesent et anteposuerit litterarum seacula
                    </div>

                </section>

            </div>
        </div>

    </div>


</div>


<script src="/vendor/trianglify/dist/trianglify.min.js"></script>
<script src="/vendor/gsap/src/minified/TweenMax.min.js"></script>
