@import '../../lib/styles/application';

$box__width: 35em;
$box__height: 25em;

.random-background-box {
    width: $box__width;
    height: $box__height;
    margin: 1.5em auto;
    
}

@import 'vertical-stripes';

