<link rel="stylesheet" href="complex-patterns.css">

<div class="main-view-container">

    <div class="content">

        <h2 class="title">Tablecloth Pattern</h2>
        <div class="patterned-box__tablecloth"></div>

        <h2 class="title">Blueprint Pattern</h2>
        <div class="patterned-box__blueprint"></div>

        <h2 class="title">Polka-Dot Pattern</h2>
        <div class="patterned-box__polka-dot"></div>

        <h2 class="title">Checkerboard</h2>
        <div class="patterned-box__checkerboard"></div>

        <h2 class="title">SVG Checkerboard</h2>
        <div class="patterned-box__checkerboard--svg"></div>

    </div>

</div>
