<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tab Selectors</title>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/app/normalize.css">
    <link rel="stylesheet" href="tab-selectors.css">
    <script src="/vendor/modernizer/modernizr.js"></script>
</head>
<body>


  <div class="main-view-container">

    <div class="container">
      <div class="content">


        <!-- Sliding bottom indicator -->
        <div class="tab-selectors">
          <div class="tab-selectors__content">

            <ul class="tab-selectors__tab-list">

              <li class="tab active" role="tab" tabindex="0">

                  <a href="#" class="tab__link">TAB ONE</a>

                  <div class="ripple">
                    <div class="ripple__background"></div>
                    <div class="ripple__waves">
                      <div class="waves-container">
                        <div class="wave"></div>
                      </div>
                    </div>
                  </div>

              </li>

              <li class="tab" role="tab" tabindex="-1">

                <a href="#" class="tab__link">TAB TWO</a>

                <div class="ripple">
                  <div class="ripple__background"></div>
                  <div class="ripple__waves">
                    <div class="waves-container">
                      <div class="wave"></div>
                    </div>
                  </div>
                </div>

              </li>

              <li class="tab" role="tab" tabindex="-1">

                <a href="#" class="tab__link">TAB THREE</a>

                <div class="ripple">
                  <div class="ripple__background"></div>
                  <div class="ripple__waves">
                    <div class="waves-container">
                      <div class="wave"></div>
                    </div>
                  </div>
                </div>

              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>


    <div class="container">
      <div class="content">

        <!-- Sliding bottom indicator AND ink ripple -->
        <div class="tab-selectors" ripple>
          <div class="tab-selectors__content">

            <ul class="tab-selectors__tab-list">


              <li class="tab active" role="tab" tabindex="0">

                <a href="#" class="tab__link">TAB ONE</a>

                <div class="ripple">
                  <div class="ripple__background"></div>
                  <div class="ripple__waves">
                    <div class="waves-container">
                      <div class="wave"></div>
                    </div>
                  </div>
                </div>

              </li>

              <li class="tab" role="tab" tabindex="-1">

                <a href="#" class="tab__link">TAB TWO</a>

                <div class="ripple">
                  <div class="ripple__background"></div>
                  <div class="ripple__waves">
                    <div class="waves-container">
                      <div class="wave"></div>
                    </div>
                  </div>
                </div>

              </li>

              <li class="tab" role="tab" tabindex="-1">

                <a href="#" class="tab__link">TAB THREE</a>

                <div class="ripple">
                  <div class="ripple__background"></div>
                  <div class="ripple__waves">
                    <div class="waves-container">
                      <div class="wave"></div>
                    </div>
                  </div>
                </div>

              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>

</body>
</html>
