@import '../../main';

$card-background-color_primary: hsla(124, 100%, 67%, 1);
$card-padding_vertical: 0.8em;
$card-padding_horizontal: 1.0em;

body {
    background-color: hsla(140, 1%, 72%, 1);
}

.card {
    width: 22em;
    height: 15em;
    padding: $card-padding_vertical $card-padding_horizontal;
    margin: 1em auto;
    color: hsla(0, 0%, 0%, 0.89);
    background: $card-background-color_primary
                center
                no-repeat;

    &.background-logo {

        background: $card-background-color_primary
                    no-repeat
                    bottom right  /* Fallback in case the background-position extension shorthand is unsupported */
                    url('../../img/globe.svg');

        &.padding-matched-positioning {
            /* Solution one: include offset values with the position assignments */
            background-position: right $card-padding_horizontal bottom $card-padding_vertical;
        }

        &.content-box-positioning {
            /* Solution two: map background-origin to the content-box, and background-position will match padded content automatically */
            background-origin: content-box;
        }

        &.calc-method-positioning {
            /*
             * Solution three: calc() the background position as a less the full width and height of the
             * background (i.e., without using explicit "right" or "bottom" identifiers
             */
            background-position: calc(100% - #{$card_padding_vertical}) calc(100% - #{$card-padding_horizontal});
        }

    }

}
