@import '../../styles/application';

$stripe-color-1: hsla(182, 100%, 50%, 1);
$stripe-color-2: hsla(55, 100%, 50%, 1);
$stripe-color-3: hsla(320, 100%, 71%, 1);
$stripe-color-4: hsla(114, 100%, 50%, 1);

[class^="striped-box"] {
    margin: 2em auto;
    width: 25em;
    height: 16em;

    background-image: linear-gradient($stripe-color-1 50%, $stripe-color-2 0%); /* that if we set the second color’s position at 0, its position will be adjusted by the browser to be equal to the position of the previous color stop. */

    &[class*="horizontal"] {
        background-size: 100% 19%; /* The repeating background will create our striping appearance, since the size only stretches partially down the y-axis */
    }

    &[class*="vertical"] {
        background-size: 19% 100%;
        background-image: linear-gradient(to right, $stripe-color-1 50%, $stripe-color-2 0%);
    }

    /**
     * This technique allows us to create stripes that share the same primary color, but
     * just use a different hue. We just set one color -- the darker color -- one the
     * background-color, then set the gradient to be stripes of semi-transparent white.
     *
     * We can now change the color in only one place. We also get the added beneit of our base
     * color functioning as a fallback color for browsers that don’t support CSS gradients.
     *
     */
    &.toned {

        background-color: $stripe-color-1;

        &[class*="angle__30"] {

            background-image: repeating-linear-gradient(
                    30deg,
                    hsla(0, 0%, 100%, 0.33) 0%,
                    hsla(0, 0%, 100%, 0.33) 15px,
                    transparent 0,
                    transparent 30px
            );
        }
    }

    &[class*="angle__45"] {

        /**
         * For diagonal striping, the background-size will be the length
         * of the hypotenuse -- since within a square, the stripes will end as 45deg right triangles).
         *
         * To achieve our desired stripe width, a, we need to set the background size as 2a * sqrt(2)
         * ( because hypotenuse = sqrt(a^2 + b^2) === sqrt(2a^2) === a * sqrt(2) )
         *
         * So... for a 15px-width diagonal stripe...
         */
        background-size: 42.43px 42.43px;
        background-image: repeating-linear-gradient(
                45deg,
                $stripe-color-1 0%,
                $stripe-color-1 25%,
                $stripe-color-2 0%,
                $stripe-color-2 50%
        );

    }

    &[class*="angle__60"] {
        background-image: repeating-linear-gradient(
                60deg,
                $stripe-color-1, $stripe-color-1 12%,
                $stripe-color-2, $stripe-color-2 24%
        );
    }
}

[class^="striped-box_offset"] {
    background-image: linear-gradient($stripe-color-1 30%, $stripe-color-2 0%);
}

[class^="striped-box_triple"] {

    background-size: 100% 40%;
    background-image: linear-gradient(
            $stripe-color-1 33.3%,
            $stripe-color-2 66.6%,
            $stripe-color-3 0
    );
}



