$blueprint-grid_width__outer: 75px;
$blueprint-grid_height__outer: 75px;
$blueprint-grid_width__inner: 15px;
$blueprint-grid_height__inner: 15px;

$blueprint-grid_background-color: hsla(217, 53%, 35%, 1);
$blueprint-grid_line-color__inner: hsla(0, 0%, 100%, 0.3);
$blueprint-grid_line-color__outer: hsla(105, 4%, 80%, 1.0);
$blueprint-grid_line-width__inner: 1px;
$blueprint-grid_line-width__outer: 3px;
