@import 'application';

.main-view-container {
    background-color: $theme-color_primary__alternate;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-wrapper {
    width: 100%;
    padding: .75em 1.25em;
    margin: 1em auto;
    background-color: $theme-color_accent__main;

    &.component-map {
        width: 20em;
        text-align: center;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: scroll;

    }

    h2 {
        text-align: center;
    }
}

.list-container {
    ul {
        list-style-type: none;
    }
}
