body {
    background-color: hsla(141, 100%, 82%, 1);
}

.sentiment {
    margin: 1.2em auto;
    background-color: hsla(59, 95%, 83%, 1);
    text-align: center;
    padding: 1.1em;
    border-radius: .8em;
    box-shadow: 0 0 0 .4em #655;
    outline: .6em solid #655;
    width: 25em;
    height: 12em;

}
